@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: url(./images/bg-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
}


.main{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.main__logo{
    align-self: flex-start;
    padding: 40px 0 50px 30px;
}

.main__logo > img{
    width: 150px;
    align-items: start;
}

.main__img{
    padding-bottom: 50px;
}

.main__img > img{
    max-width: 350px;
    justify-self: center;
}

.main__tittle{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    margin: 0 40px;
}

.main__text{
    font-family: 'Poppins', sans-serif;
    padding: 25px 0 30px 0;
    margin: 0 60px;
    font-size: 1rem;
}

.main__button{
    border-radius: 50px 50px;
    border: none;
    padding: 1em 5em;
    background: white;
    width: 250px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}



.main__button:hover{
    background: hsl(300, 69%, 71%);
}

.main__button > a:hover{
    color: white;
}

.main__links{
    padding-top: 50px;
}

.links__item{
    margin: 0 5px;
}

.links__item > img{
    width: 30px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 1024px) {
    body{
        background: url(./images/bg-desktop.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: hsl(257, 40%, 49%);
    }

    .main{
        max-width: 100%;
        min-height: 900px;
        flex-direction: row;
    }

    .main__logo > img{
        width: 200px;
        align-items: center;
        margin: 30px 0 0 30px;
    }

    .main__img{
        padding: 0 0 0 100px;
    }

    .main__img > img{
        max-width: 1000px;
    }

    .main__content{
        text-align: left;
        margin-left: 150px;
        width: 800px;
    }

    .main__button{
        margin-left: 40px;
    }

}